<?xml version="1.0"?>
<launch>

    <param name="maxlen"          type="double" value="100.0" />    
    <param name="minlen"          type="double" value="0.0" />    
    <param name="pcTopic"         type="str"    value="/velodyne_points" />
    
    <param name="x_resolution"    type="double" value="0.5" />
    <param name="y_interpolation" type="double" value="4.0" />
    <param name="ang_Y_resolution"    type="double" value="2.05" />
 
    <param name="ang_ground"    type="double" value="0.0" />
    <param name="max_var"    type="double" value="5.0" />
    <param name="filter_output_pc"    type="bool" value="true" />

    <group ns="matrix_file">
        <rosparam file="$(find interpolated_lidar)/cfg/cfg_params.yaml" />
    </group>    
    <node pkg="interpolated_lidar" type="interpolated_lidar" name="interpolated_lidar" output="screen"/>

  </launch>
